<!DOCTYPE html>
<html>
<meta charset="UTF-8">    
<title>Quiénes somos</title>

<link rel="stylesheet" href="estilos.css">
<head>
</head>
<body>
    <header>
        <h1>Entradas</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">¿Quiénes somos?</a></li>
            <li><a href="">Artistas</a></li>
            <li><a href="">Comprar</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
    </nav>
    <section>
        <p>Somos una empresa de venta de entradas de conciertos</p>
    </section>

    <footer>
        <p>Tamara Macarro &copy; 2017</p>
    </footer>
</body>



</html>